{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Country</th>
        <th>Status</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'Country'},
          {data: 'Status', searchable: false},
          {data: 'count', orderable: false, searchable: false},
        ],
      });
    });
  </script>
  <p>
    Last file uploaded
    <br>
  </p>
  {{ filename }}
{% endblock %}